/* 游꿢 3 Pseudo-classes */

/* 1춹 pseudo-classe :hover */
/* Onde: links do nav presente em todas as p치ginas */
/* O que faz: esmaece o link quando o mouse passa por cima */
nav ul li a:hover {
  opacity: 0.8;
}

/* 2춹 pseudo-classe :nth-child() */
/* Onde: label do textarea da p치gina 'trabalhe conosco' */
/* O que faz: label do textarea fica em cima */
.form-group:nth-child(9) label {
  top: 0;
}

/* 3춹 pseudo-classe :focus */
/* Onde: inputs, labels e textarea da p치gina 'trabalhe conosco' */
/* O que faz: a cor da label fica vinho */
input:focus+label,
textarea:focus+label {
  color: var(--dark-wine);
}

/* 游꿢 3 Pseudo-elementos */

/* 1췈 pseudo-elemento  */

/* 2췈 pseudo-elemento  */

/* 3췈 pseudo-elemento  */

/* 游눪 1 Anima칞칚o */
/* Onde: imagem de seta pra baixo da p치gina 'home' */
/* O que faz: a seta sobe e desce de forma cont칤nua */
@keyframes moverSeta {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}
#scrollButton img {
  animation: moverSeta 2s ease-in-out infinite;
}

/* 游댃 Transi칞칫es */
/* Onde: labels da p치gina 'trabalhe conosco' */
/* O que faz: aplica uma transi칞칚o na anima칞칚o da label com classList.add(.activeLabel) */
label {
  transition: .2s;
}
/* Onde: inputs e textarea da p치gina 'trabalhe conosco'*/
/* O que faz: aplica uma transi칞칚o na mudan칞a de cor e espessura da borda com :focus */
input, textarea{
  transition: .1s ease;
}
/* Onde: bot칚o de enviar formul치rio da p치gina 'trabalhe conosco' */
/* O que faz: aplica transi칞칚o no tranform e na mudan칞a de background com :hover */
button{
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* 游꿕 2 Transforma칞칫es */

/* 1춹 transforma칞칚o translateY() */
/* Onde: labels da p치gina 'trabalhe conosco' */
/* O que faz: as labels ficam centralizadas nos inputs */
label { transform: translateY(-50%); }

/* 2춹 transforma칞칚o scale() */
/* Onde: imagens de garrafas de vinho da p치gina 'produtos' */
/* O que faz: aumenta o tamanho das imagens com :hover */
.produtos-image-holder:hover{
    transform: scale(1.1);
}